/* resets */
* {
    box-sizing: border-box;
}

html,
body,
main {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
}

main {
    border: solid #d6e9fc 40px;
}

/* useful for development to see borders of elements */
.dev {
    border: solid hotpink 1px;
}


.scene {
    height: 100%;
    width: 100%;
}
.container {
    height: 100%;
    width: 100%;
}

/* used by vertcenter shortCode, which nests content inside 2 divs:
   1) div.centered-wrapper (relative positioning)
   2) div.centered (absolute positining)

   it then specified div.centered::top vai style="top:${fromTopPercent}%;"
    
*/ 
div.centered-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}
div.centered {
    position: absolute;
    height: max-content;
    width: 100%;
}


.heading {
    height: 50px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

.lhs {
    float: left;
    height: 100%;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.lhs.with-heading {
    height: calc(100% - 50px);
}

.rhs {
    float: right;
    height: 100%;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.rhs.with-heading {
    height: calc(100% - 50px);
}

#scene_id_region {
    position: relative;
    top: -20px;
    left: -10px;
}

.scene {
    display: none;
}

.current-scene {
    display: block;
    border: solid white 20px;
}

.img-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered-form-wrapper {
    position: relative;
    width: 60%;
    left: 40%;
}

.form-centered {
    display: inline-block;
}

ol.centered {
    position: relative;
    left: 20%;
    list-style-position: inside;
    margin-left: auto;
    margin-right: auto;
}

.text-xxl {
    font-size: xx-large;
}

.text-xl {
    font-size: x-large;
}

.text-lg {
    font-size: large;
}

.text-centered {
    text-align: center;
}

.div-centered {
    /* display: inline-block; */
    margin-left: 50%;
    /* margin-right: auto; */
}

/* not exactly centered, but looks good */
.vert-centered {
    position: relative;
    top: 30%;
}


.hidden {
    display: none;
}


.long-arrow-btn {
    position: absolute;
    margin: 0;
    z-index: 3;    
}
.long-arrow-btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.ready-to-answer-btn {
    /* image 209x81 */
    top: calc(100% - 111px);
    left: calc(100% - 241px);
    content: url("../img/readyToAnswerOrange.png");
}
.ready-to-answer-btn:hover {
    content: url("../img/readyToAnswerYellow.png");
}

.back-to-question-btn {
    /* image is 209x81 */
    top: calc(100% - 111px);
    left: 30px;
    content: url("../img/backToQuestionOrange.png");
}
.back-to-question-btn:hover {
    content: url("../img/backToQuestionYellow.png");
}


.nav-btn {
    position: absolute;
    content: url("../img/buttonorange.png");
    z-index: 2;
}

.nav-btn:hover {
    content: url("../img/buttonyellow.png");
}

.nav-btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.prev-btn {
    /* should get displayed on top of border*/
    /* img is 130x138px */
    top: calc(100% - 138px);
    left: 5px;
}

.next-btn {
    /* should get displayed on top of border*/
    /* img is 130x138px */
    top: calc(100% - 138px);
    left: calc(100% - 133px);
    transform: scaleX(-1);
}

.btn {
    border-radius: 5px;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    opacity: 0.7;
}
.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;   
}

.btn-lg {
    font-size: large;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.btn-primary {
    background-color: #1479f6;
    color: white;
}

/* 
.mc-radio {
} 
*/

.submit-mc {
    display: block;
}


table.dogs-table {
    text-align: center;
    border: solid black 1px;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; 
}

table.dogs-table td {
    border: solid black 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

}

table.dogs-table th {
    border: solid black 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button.link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: rgb(0, 0, 238);
  cursor: pointer;
}

button.link:hover,
button.link:focus {
 text-decoration: underline;
}

button.link.visited {
    color: rgb(247, 104, 255);
}