---
id: intro5
tags: scenes
---

{% extends "single-column.njk" %}

{% block content %}

<p class="text-xxl text-centered">
There are two general reasons why results differ from trial to trial:
</p>

<ol class="centered">
    <li class="text-xl">Errors made by the experimenter (the person doing the experiment)</li>
    <li class="text-xl">Other random factors in the environment during the experiment.</li>
</ol>

<img src="img/1_Intro/Graph_S5.6.png" class="img-centered" />

{% endblock %}