---
id: intro1
tags: scenes
---
{% extends "transition.njk" %}

{% block vert_centered_content %}

<p class="text-xxl text-centered">
    <b>Data Interpretation Lesson Introduction</b>
</p>

<div class="text-lg text-centered">
    Once we have conducted a good experiment, where we have controlled all<br/>
    variables except our independent variable, we need to interpret the results.
</div>


{% endblock %}