---
id: scene12
tags: scenes
heading: "Results: weight of crystal growth"
---

{% extends "stats.njk" %}
{% import "link.njk" as link %}


{% block rhs %}

    <p class="text-xl">
        What is the mean (or average) value?
    </p>
    <p class="text-xl">
        The mean is a number that describes a typical value for a set of numbers.
    </p>
    <p class="text-xl">
        You can calculate the mean of a set of numbers by finding the SUM of
        the numbers. Then, you divide that sum by the number of numbers in
        the set.
    </p>

    {{ link.namedTransition(id, "more", "more") }}
 
 back to ? (slide 11)  I’m ready to answer. slide 26


{% endblock %}
