---
id: scene4
tags: scenes
question:
   type: "survey"
---

{% extends "single-column.njk" %}
{% import "forms.njk" as forms %}

{% block content %}

   <p class="text-xxl">
      Results: weight of crystal growth
   </p>
  
   <img src="img/1_DITable2-6.png" class="img-centered" />

   <p class="text-xl">
      How sure are you that the independent variable (water temperature) caused
      this difference in crystal weight across conditions?
   </p>
 
   {{ forms.survey_radio_form(id) }}
 
{% endblock %}