---
id: scene27
---


{% extends "wgtCrysGrowth.njk" %}

{# 
{% block lhs %}
    <img src="img/3_Table3C_S8-26.jpg" class="img-centered" />
{% endblock %} #}


{% block rhs_vert_centered %}
    {# {% vertcenter %} #}
        <p class="text-lg">
            Using the mean (or average) is often the best way to represent all
            data in condition.
        </p>
        <p class="text-lg">
            Means take into account the value of each of the data points in the
            condition. So means include the most information that is available.
        </p>
    {# {% endvertcenter %} #}
{% endblock %}
