---
id: scene9
tags: scenes
heading: "Results: weight of crystal growth"
---

{% extends "dual-column.njk" %}

{% block lhs %}
    <img src="img/3_Table3C_S8-26.jpg" class="img-centered" />
{% endblock %}

{% block rhs %}
    <p class="text-xl">
        There do not seem to be any data points in either condition that are
        much bigger or much smaller than most of the other data. (But we’ll
        look at our data in graph form to double-check this!)
    </p>
{% endblock %}
