---
id: scene28
tags: scenes
heading: "Results: weight of crystal growth"
---


{% extends "dual-column.njk" %}

{% block lhs %}
2_Table3_S7.jpg

{% endblock %}


{% block rhs %}
Let’s calculate the mean for the Hot water
condition. Which calculation will give you the
mean:

* (20 + 27 + 30 + 32 + 41)
* (20 + 27 + 30 + 32 + 41) / 5
* (41 - 20) / 2
* ( 41 + 20 ) / 2
SUBMIT
You must answer the question before continuing.
Actually... Click anywhere to continue.
You’re right! Click anywhere to continue.

{% endblock %}
