---
id: scene25
tags: scenes
heading: "Results: weight of crystal growth"
---

{% extends "stats.njk" %}
{% import "link.njk" as link %}

{% block rhs %}
    <p class="text-xl">
        What is the range of a set of numbers?
    </p>
    
{% endblock%}
