---
id: scene18
tags: scenes
heading: "Results: weight of crystal growth"
---

{% extends "stats.njk" %}
{% import "link.njk" as link %}

{% block rhs %}
    <p class="text-xl">
        What is the median value?
    </p>
    <p class="text-xl">
        And keep doing this until we found the middle number.
    </p>
    <p>
        {{ link.namedTransition(id, "back", "back") }} &nbsp; 
        {{ link.namedTransition(id, "more", "more") }}
    </p>
{% endblock %}


