---
id: scene29
tags: scenes
heading: "Results: weight of crystal growth"
---


{% extends "dual-column.njk" %}

{% block lhs %}
FIXME: 5_TableS29.jpg  (has mean in col2)

{% endblock %}


{% block rhs %}

The mean is calculated as the sum of the numbers
divided by the number of number:

(20 + 27 + 30 + 32 + 41) / 5
=150/5
=30

So, the mean weight for the Hot water condition is
30 mg.

{% endblock %}
