---
id: scene27
tags: scenes
heading: "Results: weight of crystal growth"
---


{% extends "dual-column.njk" %}

{% block lhs %}
3_Table3C_S8-26.jpg

{% endblock %}


{% block rhs %}
Using the mean (or average) is often the best way to represent all data in condition.

Means take into account the value of each of the data points in the condition. So means include the most information that is available.

{% endblock %}
