---
id: scene15
tags: scenes
heading: "Results: weight of crystal growth"
---

{% extends "stats.njk" %}
{% import "link.njk" as link %}

{% block rhs %}
    {% vertcenter %}
        <p class="text-xl">
            <b>What is the <u>median</u> value?</b>
        </p>
        <p class="text-xl">
            For example, let’s say we wanted to find out the median of this set
            of15 weights.
        </p>
        <p class="text-xl">
            We would start with the smallest and largest numbers (9.2 & 64.7 lb).
        </p>
        <p>
            {{ link.namedTransition(id, "back", "back") }} &nbsp; 
            {{ link.namedTransition(id, "more", "more") }}
        </p>
    {% endvertcenter%}
{% endblock %}
