---
question:
    type: "mc"
    text: "Do you see any results that look strange to you?"
    correctAnswer: "a"
    ntlFb: "Thanks"
    options:
        - value: "a"
          label: "Yes"
        - value: "b"
          label: "No"
        - value: "c"
          label: "I don't know"
---

{% extends "wgtCrysGrowth.njk" %}

{% import "forms.njk" as forms %}

{% block rhs_vert_centered %}
      <p class="text-lg">
        {{page.data.question.text}}
      </p>
      {{ forms.radios_form(page, isVert=true, marginLeft=30) }}
{% endblock %}
