---
id: scene10

---

{% extends "wgtCrysGrowth.njk" %}

{# {% block lhs %}
    <img src="img/3_Table3C_S8-26.jpg" class="img-centered" />
{% endblock %} #}

{% block rhs_vert_centered %}
    <p class="text-lg">
        So, we will now need to find the best way to summarize the data for
        each condition.
    </p>
    <p class="text-lg">
    Then, we can compare the results across conditions
        using that information.
    </p>
{% endblock %}
