---
question:
    type: "mc"
    text: "Which results (weight of crystals) are LESS spread out? (HINT: look at the range of salt weights on the x-axis.)"
    correctAnswer: ""
    posFb: "Right!"
    negFb: "Actually..."
    options:
        - value: "a"
          label: "Results A"
        - value: "b"
          label: "Results B"
        - value: "c"
          label: "They are the same."
---

{% extends "single-column.njk" %}

{% import "forms.njk" as forms %}

{% block content %}

    <img src="img/26_Graph_S66.png" class="img-centered" />
    <p class="text-lg">
        {{ page.data.question.text }}
    </p>
    {{ forms.radios_form(page, isVert=true, marginLeft=40) }}

{% endblock %}