---
id: scene16

heading: "Results: weight of crystal growth"
---

{% extends "stats.njk" %}
{% import "link.njk" as link %}

{% block rhs %}
    {% vertcenter %}
        <p class="text-xl">
            <b>What is the <u>median</u> value?</b>
        </p>
        <p class="text-xl">
            Then we’d move down from the top and up from the bottom.
        </p>
        <p class="text-centered">
            {{ link.namedTransition(id, "back", "back") }} &nbsp; 
            {{ link.namedTransition(id, "more", "more") }}
        </p> 
    {% endvertcenter %}
{% endblock %} 
