---
id: scene28
question:
    type: "mc"
    text: "Which calculation will give you the mean:"
    correctAnswer: "b"
    posFb: "You're right!"
    negFb: "Actually..."
    options:
        - value: "a"
          label: "(20 + 27 + 30 + 32 + 41)"
        - value: "b"
          label: "(20 + 27 + 30 + 32 + 41) / 5"
        - value: "c"
          label: "(41 - 20) / 2"
        - value: "d"
          label: "( 41 + 20 ) / 2"
---


{% extends "wgtCrysGrowth.njk" %}
{% import "forms.njk" as forms %}

{% block lhs %}
    {% vertcenter 10%}
        <img src="img/2_Table3_S7.jpg" class="img-centered" />
    {% endvertcenter %}
{% endblock %}


{% block rhs_vert_centered %}
    <p class="text-lg">
        Let’s calculate the mean for the Hot water condition. 
    </p>
    {{ forms.radios_form(id, question, isVert=true)}}


{% endblock %}
