---
question:
    type: "mc"
    text: "What do you think is the best way to summarize the data in each condition?"
    correctAnswer: "c"
    posFb: "You're right!"
    negFb: "Actually..."
    options:
        - value: "a"
          label: "Minimum (The Smallest number)"
        - value: "b"
          label: "Maximum (The Biggest number)"
        - value: "c"
          label: "Mean (or average)"
        - value: "d"
          label: "Median (The Middle number)"
        - value: "e"
          label: "Mode (The Most common number)"
        - value: "f"
          label: "Range"
---
 
{% extends "wgtCrysGrowth.njk" %}

{% import "forms.njk" as forms %}

{% block rhs_vert_centered %}
  <p class="text-lg">
    {{ page.data.question.text }}
  </p>
  {{ forms.radios_form(page, isVert=true) }}
{% endblock %}
