---
id: scene26
tags: scenes
heading: "Results: weight of crystal growth"
---


{% extends "dual-column.njk" %}

{% block lhs %}
3_Table3C_S8-26.jpg

{% endblock %}


{% block rhs %}

What do you think is the best way to
summarize the data in each condition?

* Minimum (The Smallest number)
* Maximum (The Biggest number)
* Mean (or average)
* Median (The Middle number)
* Mode (The Most common number)
* Range
SUBMIT
You must answer the question before continuing.
Actually... Click anywhere to continue.
You’re right! Click anywhere to continue.

{% endblock %}
