---
id: scene22

heading: "Results: weight of crystal growth"
---

{% extends "stats.njk" %}
{% import "link.njk" as link %}

{% block rhs %}
     {% vertcenter %}
        <p class="text-xl">
            <b>What is the <u>median</u> value?</b>
        </p>
        <p class="text-xl">
            We have found the middle number!!
        </p>
        <p class="text-xl">
            The median value is 42.4!
        </p>
        <p class="text-xl">
            “Scout” is our median dog.  :) 
        </p>
        <p class="text-centered">
            {{ link.namedTransition(id, "back", "back") }} 
        </p> 
    {% endvertcenter %}
 {% endblock %}


